################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Tasks/v17
/DI/.vs/DI
/DI/bin/Debug/net7.0
/DI/obj
